header {
    background-color: #0000ee;
    color: white;
    text-align: center;
    padding: 50px;
}

section {
    background-color: #aaaaaa;
    padding: 20px;
}

section h2 {
    color: #106714;
    text-align: center;
    font-family: "Arial Rounded MT Bold";
}

footer {
    background-color: #0000ee;
    color: white;
    text-align: center;
    padding: 5px;
}