<<<<<<< HEAD

=======
>>>>>>> master
h2{
    color: #0000ee;
}

header {
    background-color: #0000ee;
    color: white;
    text-align: center;
    padding: 50px;
}

<<<<<<< HEAD
=======

>>>>>>> master
section {
    background-color: #aaaaaa;
    padding: 20px;
}

<<<<<<< HEAD
=======

>>>>>>> master
footer {
    background-color: #0000ee;
    color: white;
    text-align: center;
    padding: 5px;
}